html {
    background          :   #1C2021;
}


body {
    margin              :   30px 0 0 0;
    color               :   #aaa;
    font-family         :   Verdana, Arial, Helvetica, sans-serif;
    font-size           :   14px;
    line-height         :   20px;
}


a {
    color               :   #aaa;
    text-decoration     :   none;
}


p.now {
    float               :   left;
    width               :   90px;
    margin              :   0 20px 0 0;
    text-align          :   right;
    color               :   #333;
}


h1 {
    margin              :   8px 0 8px 0;
    padding             :   0;
    font-size           :   14px;
    font-weight         :   normal;
    line-height         :   20px;
}


h2 {
    font-family         :   Georgia, serif;
    font-size           :   24px;
    font-weight         :   normal;
    line-height         :   32px;
    letter-spacing      :   1px;
    text-shadow         :   black 1px 1px 2px;
}


#content {
    margin-top          :   20px;
    padding             :   40px 0 40px 110px;
    background          :   #171917;
}


.index #content {
    position            :   relative;
    height              :   544px;
    padding             :   0;
    /* By illustir, http://www.flickr.com/photos/alper/3697137687/ */
    background          :  #171917 url("../images/background.jpg") left center no-repeat;
}


.index #content h2,
.index #content p,
.index #content ul,
.index  #content li {
    margin              :   0;
    padding             :   0;
}


#content .tweet {
    position            :   absolute;
    top                 :   65px;
    left                :   110px;
    width               :   460px;
}


#content .tweet h2 {
    margin-bottom       :   40px;
    color               :   #111;
    font-family         :   Verdana, Arial, Helvetica, sans-serif;
    font-size           :   14px;
    font-weight         :   bold;
    line-height         :   20px;
    letter-spacing      :   0;
    text-shadow         :   none;
}


#content .tweet h2 .date {
    display             :   block;
    color               :   #111;
    font-weight         :   normal;
}


#content .tweet h2 a {
    color               :   #111;
}


#content .tweet .text {
    font-family         :   Georgia, serif;
    font-size           :   24px;
    line-height         :   32px;
}


#content .tweet .text a {
    text-decoration     :   underline;
}


#content p.more {
    position            :   absolute;
    top                 :   321px;
    left                :   260px;
    font-family         :   Georgia, serif;
    font-size           :   24px;
    line-height         :   32px;
}


#content ul.nav {
    position            :   absolute;
    top                 :   340px;
    left                :   500px;
    list-style-type     :   none;
}


#content ul.nav li {
    display             :   inline;
    padding             :   5px 20px 5px 10px;
    color               :   #111;
    cursor              :   pointer;
}


#delicious {
    margin              :   20px 0 50px 0;
}


#delicious dl {
    margin              :   0 0 20px 0;
    padding             :   0;
}


#delicious dt {
    float               :   left;
    width               :   90px;
    margin              :   0 20px 0 0;
    text-align          :   right;
    color               :   #333;
}


#delicious dd {
    margin              :   8px 0 8px 0;
}


#delicious p {
    margin              :   8px 0 8px 110px;
    padding             :   0;
}


#footer {
    width               :   900px;
    height              :   20px;
    margin              :   0 0 50px 0;
    padding             :   0;
    list-style-type     :   none;
}


#footer li {
    float               :   right;
    margin              :   0 0 0 80px;
    padding             :   0;
    line-height         :   20px;
}


#footer li a {
    color               :   #333;
}
