@font-face {
    font-family: 'AdlerRegular';
    src: url('../fonts/adler.eot');
    src: local('Adler'), local('Adler'), url('../fonts/adler.woff') format('woff'), url('../fonts/adler.ttf') format('truetype'), url('../fonts/adler.svg#Adler') format('svg');
}


html {
    background          :   #1C2021;
}


body {
    margin              :   0;
    color               :   #aaa;
    font-family         :   Verdana, Arial, Helvetica, sans-serif;
    font-size           :   14px;
    line-height         :   20px;
}


h1 {
    margin              :   30px 0 10px 110px;
    padding             :   0;
    color               :   #555;
    font                :   36px/40px 'AdlerRegular', Arial, sans-serif;
    letter-spacing      :   0;
    text-shadow         :   #1c2021 1px 1px 2px;
}


a {
    color               :   #aaa;
    text-decoration     :   none;
}


#content {
    position            :   relative;
    width               :   100%;
    height              :   544px;
    margin-top          :   60px;
    /* By illustir, http://www.flickr.com/photos/alper/3697137687/ */
    background          :   #171917 url("../images/background.jpg") left center no-repeat;
}


#content .tweet {
    position            :   absolute;
    top                 :   65px;
    left                :   110px;
    width               :   460px;
}


#content .tweet h2, #content .tweet p {
    margin              :   0;
    padding             :   0;
    margin-bottom       :   40px;
}


#content .tweet h2 {
    color               :   #111;
    font-size           :   14px;
    font-weight         :   bold;
}


#content .tweet h2 span {
    display : block;
    color               :   #111;
    font-size           :   14px;
    font-weight         :   normal;
}


#content .tweet .text {
    font-family         :   Georgia, serif;
    font-size           :   24px;
    line-height         :   32px;
}


#delicious ul {
    width               :   460px;
    list-style-type     :   none;
    margin              :   20px 0 50px 110px;
    padding             :   0;
}


#delicious li {
    margin              :   8px 0 8px 0;
    line-height         :   18px;
}
