html {
    background          :   #1C2021;
}


body {
    margin              :   0;
    color               :   #aaa;
    font-family         :   Verdana, Arial, Helvetica, sans-serif;
    font-size           :   14px;
    line-height         :   20px;
}


a {
    color               :   #aaa;
    text-decoration     :   none;
}


#content {
    position            :   relative;
    width               :   100%;
    height              :   544px;
    margin-top          :   70px;
    /* By illustir, http://www.flickr.com/photos/alper/3697137687/ */
    background          :   #171917 url("../images/background.jpg") left center no-repeat;
}


#content .tweet {
    position            :   absolute;
    top                 :   65px;
    left                :   110px;
    width               :   460px;
}


#content .tweet h2, #content .tweet p {
    margin              :   0;
    padding             :   0;
    margin-bottom       :   40px;
}


#content .tweet h2 {
    color               :   #111;
    font-size           :   14px;
    font-weight         :   bold;
}


#content .tweet h2 .date {
    display             :   block;
    color               :   #111;
    font-weight         :   normal;
}


#content .tweet h2 a {
    color               :   #111;
}


#content .tweet .text {
    font-family         :   Georgia, serif;
    font-size           :   24px;
    line-height         :   32px;
}


#content .tweet .text a {
    text-decoration     :   underline;
}


#content p.more {
    position            :   absolute;
    top                 :   298px;
    left                :   260px;
    font-family         :   Georgia, serif;
    font-size           :   24px;
    line-height         :   32px;
}


#content ul.nav {
    position            :   absolute;
    top                 :   340px;
    left                :   500px;
    margin              :   0;
    padding             :   0;
    list-style-type     :   none;
}


#content ul.nav li {
    display             :   inline;
    margin              :   0;
    padding             :   5px 20px 5px 10px;
    color               :   #111;
    font-size           :   14px;
    cursor              :   pointer;
}


#delicious ul {
    width               :   460px;
    list-style-type     :   none;
    margin              :   20px 0 50px 110px;
    padding             :   0;
}


#delicious li {
    margin              :   8px 0 8px 0;
    line-height         :   18px;
}
