AddType text/css .css
AddType text/javascript .js
AddType "text/html; charset=utf-8" .html

<FilesMatch "^[^\.]+$">
    ForceType "text/html; charset=utf-8"
</FilesMatch>

Options -Indexes

DirectoryIndex index
